{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="{% static 'recipes_ico.png' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class=<"All_header_menu">
        <div class="top__menu center">
      <div class="header">
      
        <div class="Logo">
            <h3>Cупы — это просто</h3>
        </div>
        <div class="Top_menu">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'recipe_list' %}">Все рецепты</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'add_recipe' %}">Новый рецепт</a></li>
                <li>
                    <div class="Username">
                        <h6> Посетитель: {{ request.user.first_name|default:request.user.username }}</h6>
                    </div>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Выйти
                        </button>

                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'registration' %}">Зарегистрироваться</a></li>
                <li><a href="{% url 'login' %}">Войти на сайт</a></li>

                {% endif %}
            </ul>
        </div>

    </div>

</header>


<div class="container">
    {% block content %}

    {% endblock %}
</div>

