<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Заказы клиента {{ client.name }}</h1>

<h2>За последнюю неделю:</h2>
<ul>
    {% for product in week_products %}
        <li>{{ product.title }}</li>
    {% endfor %}
</ul>

<h2>За последний месяц:</h2>
<ul>
    {% for product in month_products %}
        <li>{{ product.title }}</li>
    {% endfor %}
</ul>

<h2>За последний год:</h2>
<ul>
    {% for product in year_products %}
        <li>{{ product.title }}</li>
        <img src="{{ product.product_image.url }}" alt="{{ product.title }}" width="320" height="320"><br>
    {% endfor %}
</ul>



</body>
</html>